{%- capture search_type -%}
  {% if enable_content %}
    article,page,product
  {% else %}
    product
  {% endif %}
{%- endcapture -%}

<div class="productgrid--search" data-live-search>
  <form
    class="productgrid--search-form"
    action="{{ routes.search_url }}"
    method="get"
    role="search"
    aria-label="Product"
    data-live-search-form
  >
    <input type="hidden" name="type" value="{{ search_type | replace: '  ', '' | strip_newlines }}">
    <div class="form-field no-label">
      {% if search_filter_string != blank %}
        <input
          type="hidden"
          value="{{ search_filter_string }}"
          data-live-search-filter
        >
      {% endif %}
      <input
        class="form-field-input productgrid--search-form-field"
        type="text"
        name="q"
        aria-label="{{ 'search.form.label' | t }}"
        placeholder="{{ 'search.form.placeholder' | t}}"
        {% if search.performed %}
          {% capture sanitized_terms %}
            {%
              render 'search-sanitizer',
              search_terms: search.terms
            %}
          {% endcapture %}

          {% assign sanitized_terms = sanitized_terms | strip %}
          value="{{ sanitized_terms }}"
        {% endif %}
        data-live-search-input>

      <button
        class="productgrid--search-button"
        type="submit"
        aria-label="{{ 'general.accessibility.search' | t }}"
        data-live-search-submit
      >
        <span class="search-icon search-icon--inactive">
          {% render 'icon-search' %}
        </span>
        <span class="search-icon search-icon--active">
          {% render 'icon-spinner' %}
        </span>
      </button>
    </div>
  </form>
</div>
