<h2 class="productgrid--sidebar-title">
{{ 'product_grid.filters.title_count' | t: count: 0 }}
</h2>

{% if current_tags.size > 0 %}
  <div class="productgrid--sidebar-item productgrid--sidebar-filters--current">
    {%- render 'product-grid-tags-active' -%}
  </div>
{% endif %}

{% comment %}
  Loop through tag groups
{% endcomment %}

{%- capture tag_icon -%}
  <span class="filter-icon--checkbox">
    {%- render 'icon-checkbox' -%}
  </span>
{%- endcapture -%}

{% comment %} Custom tag ordering {% endcomment %}
{%- assign custom_ordered_tags = section.settings.custom_ordered_tags | split: ',' -%}
{%- assign custom_tags = blank -%}

{%- for custom_ordered_tag in custom_ordered_tags -%}
  {%- assign custom_tag = custom_ordered_tag | strip -%}

  {%- unless collection.all_tags contains custom_tag -%}
    {%- continue -%}
  {%- endunless -%}

  {%-
    assign custom_tags = custom_tags
    | append: '|'
    | append: custom_tag
  -%}
{%- endfor -%}

{% assign sorted_tags = custom_tags | remove_first: '|' | split:  '|' | concat: collection.all_tags | uniq %}

{% liquid
  assign excluded_tags_array = section.settings.excluded_tags | split: ','
  assign excluded_groups_array = section.settings.excluded_groups | split: ','
  assign excluded_tags_temp = ''
  assign excluded_groups_temp = ''

  for excluded_tag_value in excluded_tags_array
    assign excluded_tag = excluded_tag_value | strip
    assign excluded_tags_temp = excluded_tags_temp | append: '|' | append: excluded_tag
  endfor

  for excluded_group_value in excluded_groups_array
    assign excluded_group = excluded_group_value | strip
    assign excluded_groups_temp = excluded_groups_temp | append: '|' | append: excluded_group
  endfor

  assign excluded_tags = excluded_tags_temp | remove_first: '|' | split: '|'
  assign excluded_groups = excluded_groups_temp | remove_first: '|' | split: '|'
%}

{% comment %} Grid layout groups {% endcomment %}
{%- assign grid_categories_input = section.settings.grid_categories | split: ',' -%}
{%- assign grid_categories = blank -%}

{%- for category in grid_categories_input -%}
  {%- assign category_stripped = category | strip -%}
  {%-
    assign grid_categories = grid_categories
    | append: '|'
    | append: category_stripped
  -%}
{%- endfor -%}

{% assign grid_categories = grid_categories | remove_first: '|' | split:  '|' | uniq %}

{% for cat_item in cat_array %}
  {%- if cat_item == 'searchfilter' or cat_item == blank or excluded_groups contains cat_item -%}
    {%- continue -%}
  {%- endif -%}

  {% assign display_as_grid = false %}
  {% if grid_categories contains cat_item %}
    {% assign display_as_grid = true %}
  {% endif %}

  {% assign show_swatches = false %}
  {% if settings.swatches_enable %}
    {% assign swatch_trigger = settings.swatches_swatch_trigger | strip | downcase %}
    {% assign cat_name = cat_item | downcase %}
    {% if cat_name == swatch_trigger %}
      {% assign show_swatches = true %}
      {% comment %} Swatches should never follow the display_as_grid layout {% endcomment %}
      {% assign display_as_grid = false %}
    {% endif %}
  {% endif %}
  <div
    class="productgrid--sidebar-group"
    data-productgrid-sidebar-group
  >
    {% assign tag_count = 0 %}
    <button
      class="productgrid--sidebar-button"
      data-filter-group-trigger
      aria-expanded="false"
    >
      <h3 class="productgrid--sidebar-title--small">
        {{ cat_item }}
      </h3>
      <div class="productgrid--sidebar-icon-wrapper" tabindex="-1">
        <span class="productgrid--sidebar-icon">
          {% render 'icon-chevron-down-small' %}
        </span>
      </div>
    </button>
    <ul
      class="
        productgrid--sidebar-item
        filter-group
        {% if show_swatches %}
          productgrid--sidebar-item-swatches-grid
        {% endif %}
        {% if display_as_grid %}
          productgrid--sidebar-item-grid
        {% endif %}
      "
      data-filter-group="{{ cat_item }}"
      aria-expanded="false"
      data-accordion-content
    >
      {% comment %}
        Loop through collection tags
      {% endcomment %}
      <div class="filter-group--wrapper">
        {% for tag in sorted_tags %}
          {%- if excluded_tags contains tag -%}
            {%- continue -%}
          {%- endif -%}

          {% liquid
            assign cat = tag | split: '_' | first
            assign cat_handle = cat | handleize
            assign tag_handle = tag | handleize
            assign cat_item_handle = cat_item | handleize
            assign within_group = false
            assign active_tag_in_group = nil
          %}
          {% if cat_handle != tag_handle and cat_item_handle == cat_handle %}
            {% assign tag_count = tag_count | plus: 1 %}

            {% comment %}
              Loop through the currently active tags to determine if we are looping
              through an active group. If we are, we want to remove the active tag
              from the href since users can only select one tag per group anyway. This also
              helps show accurate product counts.
            {% endcomment %}
            {% liquid
              for current_tag in current_tags
                assign current_cat = current_tag | split: '_' | first

                if current_cat == cat
                  assign within_group = true
                  assign active_tag_in_group = current_tag | handleize | append: '+'
                endif
              endfor
            %}

            {%- if show_swatches -%}
              {%- assign color_name = tag | remove_first: cat | remove_first: '_' -%}
              {%- capture swatch -%}
                <div
                  class="filter-item--swatch-wrapper"
                  data-swatch-tooltip="{{ color_name }}"
                >
                  <div class="filter-item--swatch">
                    <div
                      class="filter-item--swatch-inner"
                      style="{% render 'swatch-styles', color_name: color_name %}"
                    >
                    </div>
                  </div>
                </div>
              {%- endcapture -%}
            {%- endif -%}

            {% comment %}
              Strip out tag category prefix and add/remove link for tag filtering
            {% endcomment %}
            {%- capture tag_content -%}
              {%- if show_swatches -%}
                {{ swatch }}
              {%- else -%}
                {%- unless display_as_grid -%}
                  {% assign animation_state = 'unchecked' %}
                  {% if current_tags contains tag %}
                    {% assign animation_state = 'checked' %}
                  {% endif %}
                  <span class="filter-icon--checkbox" data-handle="{{ tag | handle}}">
                    {%- render 'icon-checkmark-animated', animation_state: animation_state -%}
                  </span>
                {%- endunless -%}
                <span class="filter-text">
                  {{ tag | remove_first: cat | remove_first: '_' }}
                </span>
              {%- endif -%}

                <span
                  class="
                    filtered-product-count
                    {% if section.settings.show_filter_product_count == false %}
                      filtered-product-count--hidden
                    {% endif %}
                  "
                  data-filtered-product-count
                ></span>
            {%- endcapture -%}

            {% assign filter_active = false %}
            {%- if current_tags contains tag -%}
              {% assign filter_active = true %}
            {%- endif -%}

            {% assign filter_class = 'filter-item' %}

            {%- if tag_count > tag_limit -%}
              {% assign filter_class = filter_class | append: ' filter-item--hidden' %}
            {%- endif -%}

            <li
              class="{{ filter_class }}"
              data-tag-advanced
              data-group="{{ cat_item }}"
              data-handle="{{ tag | handle }}"
              data-tag-title="{{ tag }}"
              data-filter-active="{{ filter_active }}"
              {% if tag_count > tag_limit %}data-hidden-default{% endif %}
              {% if current_tags contains tag %}aria-current="true"{% endif %}
            >
              {% if current_tags contains tag %}
                {{ tag_content | link_to_remove_tag: tag }}
              {% elsif within_group == true %}
                {{ tag_content | link_to_add_tag: tag | remove: active_tag_in_group }}
              {% else %}
                {{ tag_content | link_to_add_tag: tag }}
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
        {% if tag_count > tag_limit %}
          <li class="filter-item filter-item--toggle-more">
            <a class="filter-text--link" href="#" data-filter-toggle="false">
              {{ 'general.general.see_more' | t }}
            </a>
          </li>
      {% endif %}
      </div>
    </ul>
  </div>
{% endfor %}
