<script
  type="application/json"
  data-section-type="dynamic-search"
  data-section-id="{{ section.id }}"
  data-section-data>
  {
    "settings": {
      "live_search": {
        "enable": {{ section.settings.enable_live_search | json }},
        "enable_images": {{ section.settings.enable_live_search_images | json }},
        "enable_content": {{ section.settings.enable_live_search_articles_pages | json }},
        "money_format": {{ shop.money_format | strip_html | json }},
        "show_mobile_search_bar": true,
        "context": {
          "view_all_results": {{ 'search.general.view_all_results' | t | json }},
          "view_all_products": {{ 'search.general.view_all_products' | t | json }},
          "content_results": {
            "title": {{ 'search.general.pages_and_posts_title' | t | json }},
            "no_results": {{ 'search.general.pages_and_posts_no_results' | t | json }}
          },
          "no_results_products": {
            "title": {{ 'search.general.no_results_products_title' | t: terms: '*terms*' | json }},
            "title_in_category": {{ 'search.general.no_results_products_title_in_category' | t: terms: '*terms*', category: '*category*' | json }},
            "message": {{ 'search.general.no_results_products_message' | t | json }}
          }
        }
      }
    }
  }
</script>

{% assign show_overlay = section.settings.show-overlay %}
{% assign overlay_color = section.settings.background %}
{% assign overlay_opacity = section.settings.opacity | times: 0.01 %}

{% assign overlay_alpha = overlay_color | color_extract: 'alpha' | round %}
{% if overlay_alpha == 0 or overlay_opacity == 0 %}
  {% assign show_overlay = false %}
{% endif %}

<section class="search-section">
  <div
    class="
      search-section-background
      search-section-position-{{ section.settings.position }}
    "
    {% if section.settings.image %}
      {%
        render 'rimg',
        img: section.settings.image,
        size: '1350x1350',
        lazy: true,
        background: true
      %}
    {% endif %}
  >
    {% if section.settings.image %}
      {%
        render 'rimg',
        img: section.settings.image,
        size: '1350x1350',
        lazy: true,
        canvas: true
      %}
    {% endif %}
  </div>

  {% if show_overlay %}
    <div
      class="search-section-overlay"
      style="background-color: {{ overlay_color | color_modify: 'alpha', overlay_opacity }}"
    ></div>
  {% endif %}

  <div
    class="search-section-content"
    {% if show_overlay %}
      style="color: {{ section.settings.color }}"
    {% endif %}
  >
    <div class="search-section-header">
      {% if section.settings.title %}
        <h2 class="search-section-heading">
          {{ section.settings.title | escape }}
        </h2>
      {% endif %}

      {% if section.settings.text %}
        <p class="search-section-text">
          {{ section.settings.text | escape }}
        </p>
      {% endif %}
    </div>

    {%
      render 'live-search-form',
      enable_images: section.settings.enable_live_search_images,
      enable_content: section.settings.enable_live_search_articles_pages,
      placeholder: section.settings.placeholder,
      quick_links: nil,
    %}
  </div>
</section>

{% schema %}
{
  "name": "Search",
  "class": "search--section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Search"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "Use this section to help customers find the products they're looking for."
    },
    {
      "type": "text",
      "id": "placeholder",
      "label": "Placeholder text",
      "default": "What are you looking for?"
    },
    {
      "id": "filter_search_by",
      "type": "select",
      "label": "Refined search",
      "info": "Allow customers to refine their search. [Learn more](https://support.pixelunion.net/hc/en-us/articles/360025901534-Customizing-Empire-s-header-Search-bar)",
      "options": [
        {
          "value": "disabled",
          "label": "Disabled"
        },
        {
          "value": "product_type",
          "label": "By product type"
        },
        {
          "value": "tag",
          "label": "By tag"
        }
      ],
      "default": "disabled"
    },
    {
      "type": "header",
      "content": "Live search"
    },
    {
      "type": "checkbox",
      "id": "enable_live_search",
      "label": "Enable live search"
    },
    {
      "type": "checkbox",
      "id": "enable_live_search_images",
      "label": "Show product images in live search results"
    },
    {
      "type": "checkbox",
      "id": "enable_live_search_articles_pages",
      "label": "Show blog posts and pages in live search results"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "position",
      "label": "Position",
      "info": "Adjust the focal point of the image. Note: This setting will not have much of an impact if your background image's dimensions are roughly the same size as the section.",
      "default": "center-center",
      "options": [
        {
          "label": "Top left",
          "value": "top-left"
        },
        {
          "label": "Top center",
          "value": "top-center"
        },
        {
          "label": "Top right",
          "value": "top-right"
        },
        {
          "label": "Center left",
          "value": "center-left"
        },
        {
          "label": "Center",
          "value": "center-center"
        },
        {
          "label": "Center right",
          "value": "center-right"
        },
        {
          "label": "Bottom left",
          "value": "bottom-left"
        },
        {
          "label": "Bottom center",
          "value": "bottom-center"
        },
        {
          "label": "Bottom right",
          "value": "bottom-right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "checkbox",
      "id": "show-overlay",
      "label": "Show overlay",
      "default": false
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "opacity",
      "label": "Opacity",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "Search",
      "category": "Store information"
    }
  ]
}

{% endschema %}