<section
  class="account-page account-page-order"
  data-template-account>
  <header class="account-page-masthead">
    <h1 class="account-page-title">
      {{ 'customers.order.title' | t: order_number: order.name }}
    </h1>
  </header>

  <article class="account-page-content">
    <div class="account-page--two-column">
      {% comment %}
        Order information
      {% endcomment %}
      <div class="account-page--column-large">
        <table class="account-table account-order">
          <thead>
            <tr>
              <th class="order-item">
                {{ 'customers.order.item' | t }}
              </th>
              <th class="order-item-price">
                {{ 'customers.order.price' | t }}
              </th>
              <th class="order-item-quantity">
                {{ 'customers.order.quantity' | t }}
              </th>
              <th class="order-item-total">
                {{ 'customers.order.total' | t }}
              </th>
            </tr>
          </thead>

          <tbody>
            {% for line_item in order.line_items %}
              <tr {% if order.cancelled %}class="cancelled_order"{% endif %}>
                <td class="order-item">
                  <a class="order-image" href="{{ line_item.product.url }}">
                    {% if line_item.image %}
                      {%
                        render 'rimg',
                        img: line_item.image,
                        alt: line_item.title,
                        size: '75x'
                      %}
                    {%- else -%}
                      {{ 'product-1' | placeholder_svg_tag: 'placeholder--image order-item-placeholder' }}
                    {%- endif -%}
                  </a>
                  <div class="order-item-content">
                    <div class="order-item-title">
                      <a href="{{ line_item.url }}">
                        {%- if line_item.gift_card -%}
                          {{ line_item.title }}
                        {%- else -%}
                          {{ line_item.product.title }}
                        {%- endif -%}
                      </a>
                      {%- unless line_item.variant.title == 'Default Title' or line_item.gift_card -%}
                        <span class="order-item-options">
                          {{ line_item.variant.title }}
                        </span>
                      {%- endunless -%}
                    </div>
                    {%- if line_item.line_level_discount_allocations.size > 0 -%}
                      <ul class="discount-list" aria-label="{{ 'product.general.discounts' | t }}">
                        {% for discount_allocation in line_item.line_level_discount_allocations %}
                          <li class="discount-list-item">
                            {% render 'icon-library', id: 'icon-sale-tag' %}
                            {{ discount_allocation.discount_application.title }}
                            (-<span class="money">{{ discount_allocation.amount | money }}</span>)
                          </li>
                        {% endfor %}
                      </ul>
                    {%- endif -%}
                  </div>
                </td>
                <td class="order-item-price">
                  <p class="order-item--cell-label">{{ 'customers.order.price' | t }}</p>
                  {%- if line_item.line_level_discount_allocations.size > 0 -%}
                    <span class="visually-hidden">{{ 'product.item.price.original' | t }}</span>
                    <s class="money order-item-original-price">
                      {{ line_item.original_price | money }}
                    </s>
                    <span class="visually-hidden">{{ 'product.item.price.current' | t }}</span>
                    <span class="money order-item-discount-price">
                  {%- else -%}
                    <span class="money">
                  {%- endif -%}
                    {{ line_item.final_price | money }}
                  </span>

                  {% capture total_quantity %}<span class="order-item--total-quantity" data-total-quantity>{{ line_item.unit_price_measurement.quantity_value }}{{ line_item.unit_price_measurement.quantity_unit }}</span>{% endcapture %}
                  {% capture unit_price %}<span class="order-item--unit-price-amount money" data-unit-price-amount>{{ line_item.unit_price | money }}</span>{% endcapture %}
                  {% capture unit_measure %}<span class="order-item--unit-price-measure" data-unit-price-measure>{%- if line_item.unit_price_measurement.reference_value != 1 -%}{{ line_item.unit_price_measurement.reference_value }}{%- endif %}{{ line_item.unit_price_measurement.reference_unit }}</span>{% endcapture %}

                  {% if line_item.unit_price_measurement %}
                    <span class="order-item--unit-price">
                      {{ 'product.item.price.price_per_unit_html' | t: total_quantity: total_quantity, unit_price: unit_price, unit_measure: unit_measure | strip_newlines }}
                    </span>
                  {% endif %}
                </td>
                <td class="order-item-quantity">
                  <p class="order-item--cell-label">{{ 'customers.order.quantity' | t }}</p>
                  <p class="order-quantity-value">{{ line_item.quantity }}</p>
                </td>
                <td class="order-item-total">
                  <p class="order-item--cell-label">{{ 'customers.order.total' | t }}</p>
                  {%- if line_item.line_level_discount_allocations.size > 0 -%}
                    <span class="visually-hidden">{{ 'product.item.price.original' | t }}</span>
                    <s class="money order-item-original-price">
                      {{ line_item.original_line_price | money }}
                    </s>
                    <span class="visually-hidden">{{ 'product.item.price.current' | t }}</span>
                    <span class="money order-item-discount-price">
                  {%- else -%}
                    <span class="money">
                  {%- endif -%}
                    {{ line_item.final_line_price | money }}
                  </span>
                </td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
          <div class="account-table order-footer">
            <div class="order-footer-item">
              <span class="order-footer-label">
                {{ 'customers.order.subtotal' | t }}
              </span>
              <span class="order-footer-value">
                <span class="money">
                  {{ order.line_items_subtotal_price | money }}
                </span>
              </span>
            </div>

            {%- for discount_application in order.cart_level_discount_applications -%}
              <div class="order-footer-item discount-list-item">
                <span class="order-footer-label cart-discount-title">
                  {% render 'icon-library', id: 'icon-sale-tag' %}
                  {{- discount_application.title -}}
                </span>
                <span class="order-footer-value cart-discount-price">-<span class="money">{{ discount_application.total_allocated_amount | money }}</span></span>
              </div>
            {%- endfor -%}

            {% for shipping_method in order.shipping_methods %}
              <div class="order-footer-item">
                <span class="order-footer-label">
                  {{ 'customers.order.shipping' | t: shipping_method: shipping_method.title }}
                </span>
                <span class="order-footer-value">
                  <span class="money">
                    {{ shipping_method.price | money }}
                  </span>
                </span>
              </div>
            {% endfor %}

            {% for tax_line in order.tax_lines %}
              <div class="order-footer-item">
                <span class="order-footer-label">
                  {% assign tax_rate = tax_line.rate | times: 100 %}
                  {{ 'customers.order.tax' | t: title: tax_line.title, rate: tax_rate }}
                </span>
                <span class="order-footer-value">
                  <span class="money">
                    {{ tax_line.price | money }}
                  </span>
                </span>
              </div>
            {% endfor %}

            <div class="order-footer-total">
              <span class="order-footer-label">
                {{ 'customers.order.total' | t }}
              </span>
              <span class="order-footer-value">
                <span class="money">
                  {{ order.total_price | money }}
                </span>
              </span>
            </div>
          </div>

        {% if order.note != blank %}
          <h2 class="account-page-subtitle">
            {{ 'customers.order.order_notes' | t }}
          </h2>

          <div class="account-order-note">
            <p>{{ order.note }}</p>
          </div>
        {% endif %}

        {% if order.attributes.size > 0 %}
          <h2 class="account-page-subtitle">
            {{ 'customers.order.additional_notes' | t }}
          </h2>

          <ul class="account-order-attributes">
            {% for attribute in order.attributes %}
              <li>
                <span class="account-order-attribute-title">
                  {{ attribute | first }}:
                </span>
                <span class="account-order-attribute-content">
                  {{ attribute | last }}
                </span>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      {% comment %}
        Billing & Shipping information
      {% endcomment %}
      <div class="account-page--column-small account-info">
        {% if order.shipping_address %}
          <div class="account-info-block">
            <h2 class="account-page-subtitle">
              {{ 'customers.order.shipping_address' | t }}
            </h2>
            {%
              render 'account-address-list',
              address: order.shipping_address
            %}
          </div>
        {% endif %}

        <div class="account-info-block">
          <h2 class="account-page-subtitle">
            {{ 'customers.order.billing_address' | t }}
          </h2>
          {%
            render 'account-address-list',
            address: order.billing_address
          %}
        </div>
      </div>
    </div>
  </article>
</section>