<section
  class="account-page account-page-reset-password"
  data-template-account>
  <header class="account-page-masthead">
    <h1 class="account-page-title">
      {{ 'customers.reset_password.title' | t }}
    </h1>
  </header>

  <article class="account-page-content">
    {% form 'reset_customer_password' %}

      <p>{{ 'customers.reset_password.subtitle' | t: user: email }}</p>

      {% assign has_message = false %}

      {% if form.errors != blank %}
        {% assign has_message = true %}
        {% assign message_type = 'error' %}
      {% endif %}

      {% if form.posted_successfully? %}
        {% assign has_message = true %}
        {% assign message_type = 'success' %}
      {% endif %}

      {% if has_message %}
        <div class="account-message message--{{ message_type }}">
          {% case message_type %}
            {% when 'success' %}
              <p>
                {{ 'customers.recover_password.success' | t }}
              </p>
            {% when 'error' %}
              {{ form.errors | default_errors }}
          {% endcase %}
        </div>
      {% endif %}

      <div class="form-field">
        <input
          class="form-field-input form-field-text"
          id="password"
          name="customer[password]"
          type="password">
        <label
          class="form-field-title"
          for="password">
          {{ 'customers.forms.password' | t }}
        </label>
      </div>

      <div class="form-field">
        <input
          class="form-field-input form-field-text"
          id="password_repeat"
          name="customer[password_confirmation]"
          type="password">
        <label
          class="form-field-title"
          for="password_repeat">
          {{ 'customers.forms.repeat_password' | t }}
        </label>
      </div>

      <div class="form-action-row">
        <button class="button-primary" type="submit">
          {{ 'customers.reset_password.submit' | t }}
        </button>
      </div>
    {% endform %}
  </article>
</section>