<script
  type="application/json"
  data-section-type="static-password"
  data-section-id="{{ section.id }}">
</script>

<header class="password-page-header">
  <span
    class="password-header-logo">
    {% if section.settings.logo %}
      {% assign logo_alt = section.settings.logo.alt %}
      {% if logo_alt == '' %}
        {% assign logo_alt = shop.name | strip %}
      {% endif %}

      {% assign logo_height = section.settings.logo_height | default: 100 %}
      {% assign logo_width = section.settings.logo_width | default: 200 %}
      {% assign logo_size = logo_width | prepend: 'x' %}


      {% capture logo_style %}
        max-width: {{ logo_width }}px;
        max-height: {{ logo_height }}px;
      {% endcapture %}

      {%
        render 'rimg',
        img: section.settings.logo,
        alt: logo_alt,
        style: logo_style,
        size: logo_size
      %}
    {% else %}
      <span class="password-header-logo-text">
        {{ shop.name }}
      </span>
    {% endif %}
  </span>

  <div class="password-header-login">
    <button
      class="password-header-lock"
      type="button"
      data-passwordentry-toggle
      aria-label="{{ 'password.password_entry.title' | t }}"
    >
      {% render 'icon-lock' %}
    </button>
    </div>
</header>

<article class="password-page-content">
  <div class="password-page-content--inner">
    <h1 class="password-title">
      {{ 'password.general.title' | t }}
    </h1>

    {% if shop.password_message != blank %}
      <p class="password-message">
        {{ shop.password_message }}
      </p>
    {% endif %}

    {% if section.settings.enable_newsletter_signup %}
      <div class="password-mailinglist--container" data-password-newsletter>

        {% if section.settings.newsletter_title != blank %}
          <h2 class="password-mailinglist-title">{{ section.settings.newsletter_title }}</h2>
        {% endif %}

        {% if section.settings.newsletter_text != blank %}
          <div class="password-mailinglist-text rte">{{ section.settings.newsletter_text }}</div>
        {% endif %}

        {% render 'newsletter' %}

      </div>
    {% endif %}

    {% assign social_networks = 'facebook|twitter|pinterest|instagram|tumblr|vimeo|youtube|email|rss' %}
    {% assign social_networks = social_networks | split: '|' %}

    {% assign has_social_icons = false %}

    {% for network in social_networks %}
      {% assign setting = 'social_' | append: network %}
      {% if settings[setting] != blank %}
        {% assign has_social_icons = true %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if section.settings.show_social_icons and has_social_icons %}
      <div class="password-social--container">
        {% if section.settings.show_social_title %}
          <h2 class="password-social--title">
            {{ 'password.social.follow_us' | t }}
          </h2>
        {% endif %}

        {% render 'social-list' %}
      </div>
    {% endif %}
  </div>
</article>

<footer class="password-page-footer">
  {% assign year = 'now' | date: '%Y' %}
  <span class="password-page-footer--item">
    {{ 'footer.general.copyright_html' | t: year: year, shop_name: shop.name }}
  </span>
  <span class="password-page-footer--item">
    {{ powered_by_link }}
  </span>
</footer>

<div class="passwordentry-container">
  <div data-passwordentry>
    <h4 class="passwordentry-title">
      {{ 'password.password_entry.title' | t }}
    </h4>

    <div class="passwordentry-contents" data-passwordentry-contents>

      {% form 'storefront_password' %}
        {% if form.errors != blank %}
          <div class="passwordentry-message message--error" data-passwordentry-errors>
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        <div class="form-fields-inline">

          <div class="form-field passwordentry-input">
            <input
              class="form-field-input form-field-text"
              type="password"
              name="password"
              id="password">

            <label
              class="form-field-title"
              for="password">
              {{ 'password.password_entry.password' | t }}
            </label>
          </div>

          <div class="form-field passwordentry-submit">
            <button
              class="button-primary"
              type="submit"
            >
              {{ 'password.password_entry.submit' | t }}
            </button>
          </div>

        </div>
      {% endform %}

      <p class="passwordentry-owner">
        {{ 'password.password_entry.store_owner' | t }}
        <a href="{{ shop.url }}/admin">
          {{ 'password.password_entry.log_in' | t }}
        </a>
      </p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Password page",
  "class": "password--section section--canonical",
  "settings": [
    {
      "id": "logo",
      "type": "image_picker",
      "label": "Logo image",
      "info": "200 x 80px .png recommended"
    },
    {
      "id": "logo_height",
      "type": "range",
      "label": "Logo image max-height",
      "min": 40,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "id": "logo_width",
      "type": "range",
      "label": "Logo image max-width",
      "min": 150,
      "max": 250,
      "step": 1,
      "unit": "px",
      "default": 200,
      "info": "When adjusting the max-width, your logo image may disappear momentarily while a new logo image is generated"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "enable_newsletter_signup",
      "label": "Enable newsletter signup",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Title",
      "default": "Find out when we open"
    },
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Social"
    },
    {
      "type": "checkbox",
      "id": "show_social_title",
      "label": "Show social title",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": "Show social icons",
      "default": true
    }
  ]
}

{% endschema %}